header {
    color: #ffa600;
    background-color: black;
}
body {
    background-color: antiquewhite;
}
img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 200px;
}